<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <!-- 注册servlet -->
  <servlet>
    <servlet-name>selectAllServlet</servlet-name>
    <servlet-class>com.itheima.web.selectAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>selectAllServlet</servlet-name>
    <url-pattern>/selectAllServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AddServlet</servlet-name>
    <servlet-class>com.itheima.web.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddServlet</servlet-name>
    <url-pattern>/AddServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>selectByIdServlet</servlet-name>
    <servlet-class>com.itheima.web.selectByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>selectByIdServlet</servlet-name>
    <url-pattern>/selectByIdServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>updateServlet</servlet-name>
    <servlet-class>com.itheima.web.updateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateServlet</servlet-name>
    <url-pattern>/updateServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>deleteByIdServlet</servlet-name>
    <servlet-class>com.itheima.web.deleteByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteByIdServlet</servlet-name>
    <url-pattern>/deleteByIdServlet</url-pattern>
  </servlet-mapping>

  <!-- 注册过滤器 -->
  <filter>
    <filter-name>oneFiler</filter-name>
    <filter-class>com.itheima.filter.oneFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>oneFiler</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>
