p {
    text-align: center;
    color: red;
    font-weight: 800;
}

.videoId {
    width: 80%;
    margin: 0.2rem auto;
    border: 1px solid red;
}

.videoId video {
    width: 100%;
    height: 100%;
}